h1 {
  text-align: center;
}

#pokemon-gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.pokemon-card {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    border: 1px  purple;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 2px purple;
    margin: 30px 40px;
    padding: 30px 30px;
    text-align: center;
    font-weight: bold;
}

.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 放在最顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 半透明黑色背景 */
}

.modal-content {
    display:flex;
    flex-direction: column;
    background-color: #fefefe; /* 白色背景 */
    margin: 15% auto; /* 居中显示 */
    padding: 0 30px;
    border: 1px solid #888;
    width: 80%; /* 设置模态框宽度 */
    height: 370px;
    max-width: 600px; /* 最大宽度 */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平居中 */
}

#load-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple; /* 绿色 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#load-more:hover {
  background-color: #594bb0; /* 更深的绿色 */
}

.modal-title {
    font-size: 30px;
    margin-top: 0px;
}

.modal-header {
    display: flex;
    margin-top: 30px;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-close {
    height: 30px;
}

.modal-main{
    display: flex;
    justify-content: space-between;
}

.img-large img{
    width: 250px;
}

.details {
    margin-right: 200px;
    margin-top: 0px;
}

.details h2 {
    margin: 0;
}

.details p {
    width: 100%;
}


.pokemon-card .caught-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0; /* 初始时透明度为0，即不显示 */
    transition: opacity 0.3s ease-in-out; /* 添加过渡效果 */
}

.pokemon-card.caught .caught-overlay {
    opacity: 1; /* 当卡片有 .caught 类时，显示遮罩 */
}
